## Task #1: Understand the Problem Statement and business case

## Task #2: Import libraries

In [ ]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt
import seaborn as sns

## Task #3: Import and peek at the dataset

In [ ]:
df = pd.read_csv('data/googleplaystore.csv')
print("Shape Dataset:",df.shape)

In [ ]:
df.info()

## Task #4: Perform Exploratory Data Analysis

In [ ]:
df.head(5)

In [ ]:
# Detect if there is duplication in App
df1=df.groupby(["App"])["App"].count().reset_index(name="count")
df1[(df1['count']>1)]

In [ ]:
df[(df['App']=='10 Best Foods for You')]

## Task #5: Perform data cleaning
 1. Remove duplicates.
 2. Drop the rows where all elements are missing.
 3. Drop the rows where all elements are Outliers

In [ ]:
# 1. To remove duplicates on specific column(s), use subset.
df.drop_duplicates(subset='App', inplace=True)

In [ ]:
# 2. Drop the rows where all elements are missing.
df.isna().sum()

In [ ]:
df.dropna(how='all')
print("Shape Dataset:",df.shape)

In [ ]:
# 3. Drop the rows where all elements are Outliers.
df = df[df['Installs'] != 'Free']

## Task #6: Perform data preparation 
 1. Convert 'Installs' to float by Removing '+' and ',' to make it numeric.
 2. Convert 'Sizes' to MB.
 3. Convert 'Price' to float by Removing '$' to make it numeric.
 4. Convert 'Reviews' to Int

In [ ]:
# 1.Convert 'Installs' to float
df['Installs'] = df['Installs'].apply(lambda x: x.replace('+', '') if '+' in str(x) else x)
df['Installs'] = df['Installs'].apply(lambda x: x.replace(',', '') if ',' in str(x) else x)
df['Installs'] = df['Installs'].apply(lambda x: float(x))
#to Check the Data Type in Pandas DataFrame
print(df['Installs'].dtypes)

In [ ]:
#2. Convert 'Sizes' to MB.
df['Size'] = df['Size'].apply(lambda x: str(x).replace('Varies with device', 'NaN') if 'Varies with device' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: str(x).replace('M', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: str(x).replace(',', '') if 'M' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: float(str(x).replace('k', '')) / 1024 if 'k' in str(x) else x)
df['Size'] = df['Size'].apply(lambda x: float(x))

#to Check the Data Type in Pandas DataFrame
print(df['Size'].dtypes)

In [ ]:
#3. Convert 'Price' to float.
df['Price'] = df['Price'].apply(lambda x: str(x).replace('$', '') if '$' in str(x) else str(x))
df['Price'] = df['Price'].apply(lambda x: float(x))
#to Check the Data Type in Pandas DataFrame
print(df['Price'].dtypes)

In [ ]:
#4. Convert 'Reviews' to Int.
df['Reviews'] = df['Reviews'].apply(lambda x: int(x))
#to Check the Data Type in Pandas DataFrame
print(df['Reviews'].dtypes)

In [ ]:
plt.figure(figsize=(10,8))
sns.heatmap(df.corr(),cmap ="YlGnBu",annot=True, alpha=.8)

In [ ]:
Rating = df['Rating'].dropna()
Size = df['Size'].dropna()
Installs = df['Installs'][df.Installs!=0].dropna()
Reviews = df['Reviews'][df.Reviews!=0].dropna()
Type = df['Type'].dropna()
price = df['Price']

#p = sns.pairplot(pd.DataFrame(list(zip(Rating, Size, np.log(Installs), np.log10(Reviews), Type, price)), columns=['Rating','Size', 'Installs', 'Reviews', 'Type', 'Price']), hue='Type', palette="tab10")

In [29]:
db_Category_Free = df[df['Type']=="Free"]['Category'].value_counts().sort_values(ascending=False).reset_index()
db_Category_Paid = df[df['Type']=="Paid"]['Category'].value_counts().sort_values(ascending=False).reset_index()

df_suffix = pd.merge(db_Category_Free, db_Category_Paid, left_on='index',right_on='index',how='outer')
df_suffix = df_suffix.rename(columns = {'index':'Category'})
df_suffix = df_suffix.rename(columns = {'Category_x':'Free'})
df_suffix = df_suffix.rename(columns = {'Category_y':'Paid'})

#db_Category_Free['Type']="Free"
#db_Category_Paid['Type']="Paid"
#dff = [db_Category_Free, db_Category_Paid]
#db_Category = pd.concat(dff)
#db_Category = db_Category.rename(columns = {'Category':'Category_n'})
#db_Category = db_Category.rename(columns = {'index':'Category'})

#############db_Category_Paid.columns = ['Category','XXX']

               Category  per
0                FAMILY  183
1               MEDICAL   83
2                  GAME   82
3       PERSONALIZATION   81
4                 TOOLS   78
5   BOOKS_AND_REFERENCE   28
6          PRODUCTIVITY   28
7         COMMUNICATION   27
8                SPORTS   24
9             LIFESTYLE   19
10          PHOTOGRAPHY   19
11              FINANCE   17
12   HEALTH_AND_FITNESS   15
13     TRAVEL_AND_LOCAL   12
14             BUSINESS   12
15              WEATHER    8
16               DATING    6
17  MAPS_AND_NAVIGATION    5
18        VIDEO_PLAYERS    4
19            EDUCATION    4
20               SOCIAL    3
21       ART_AND_DESIGN    3
22    AUTO_AND_VEHICLES    3
23             SHOPPING    2
24        ENTERTAINMENT    2
25   NEWS_AND_MAGAZINES    2
26            PARENTING    2
27       FOOD_AND_DRINK    2
28   LIBRARIES_AND_DEMO    1
29               EVENTS    1

In [ ]:
fig, ax = plt.subplots(figsize=(20,7))
ax.bar(df_suffix['Category'], df_suffix['Free'], 0.9,  label='Free', alpha=0.7)
ax.bar(df_suffix['Category'], df_suffix['Paid'], 0.9,  bottom=df_suffix['Free'],label='Paid', alpha=0.7)

ax.set_xticklabels(df_suffix['Category'],rotation=90,fontsize='11')

ax.set_xlabel('',fontsize='17')
ax.set_ylabel('',fontsize='25')
ax.set_title('Category')
ax.legend(loc=1, fontsize = '13')
plt.show()

In [ ]:


plt.figure(figsize=(11,4))
ax = sns.boxplot(x = df[df['Type']=="Free"]['Category'], y = df['Rating'],  palette = 'Purples') #hue = df['Type']
plt.title('Free', fontsize = 30)
plt.setp(ax.get_xticklabels(), rotation=90)
plt.show()

plt.figure(figsize=(11,4))
ax = sns.boxplot(x = df[df['Type']=="Paid"]['Category'], y = df['Rating'],  palette = 'Purples') #hue = df['Type']
plt.title('Paid', fontsize = 30)
plt.setp(ax.get_xticklabels(), rotation=90)
plt.show()

In [ ]:
g = sns.FacetGrid(df, col='Type')
g.map(plt.hist, 'Rating', bins=5)

In [ ]:

def Chart_D(x):
    fig, ax = plt.subplots(figsize=(17,3))
    ax.bar(x.iloc[:,0], x.iloc[:,1], 0.7,  label='Free', alpha=0.7)
    ax.set_xticklabels(x['Category'],rotation=90,fontsize='11')
    ax.set_xlabel('',fontsize='17')
    ax.set_ylabel('',fontsize='25')
    ax.set_title("Average rating of Apps - "+ x.columns[1],fontsize='20')

    for p in ax.patches:
        x=p.get_bbox().get_points()[:,0]
        y=p.get_bbox().get_points()[1,1]
        ax.annotate('{:.2f}'.format(p.get_height()), (x.mean(), y), ha='center', va='bottom')
    #plt.show()

db_gr = df.groupby(["Category"])["Rating"].mean().sort_values(ascending=False).reset_index()
db_gr = db_gr.rename(columns = {'Rating':'All'})
Chart_D(db_gr)

db_grFree = df[df['Type']=="Free"].groupby(["Category"])["Rating"].mean().sort_values(ascending=False).reset_index()
db_grFree = db_grFree.rename(columns = {'Rating':'Free'})
Chart_D(db_grFree)

db_grPaid = df[df['Type']=="Paid"].groupby(["Category"])["Rating"].mean().sort_values(ascending=False).reset_index()
db_grPaid = db_grPaid.rename(columns = {'Rating':'Paid'})
Chart_D(db_grPaid)


df_gr10=df[df['Size']<10].groupby(["Category"])["Rating"].mean().sort_values(ascending=False).reset_index()
df_gr10 = df_gr10.rename(columns = {'Rating':'Size [less than 10MB]'})
Chart_D(df_gr10)

df_gr1050 = df[(df['Size']>=10) & (df['Size']<50)].groupby(["Category"])["Rating"].mean().sort_values(ascending=False).reset_index()
df_gr1050 = df_gr1050.rename(columns = {'Rating':'Size [10MB - 50MB] '})
Chart_D(df_gr1050)

df_gr50 = df[df['Size']>=50].groupby(["Category"])["Rating"].mean().sort_values(ascending=False).reset_index()
df_gr50 = df_gr50.rename(columns = {'Rating':'Size [larger than 50MB]'})
Chart_D(df_gr50)

In [ ]:

#df_Rating_Size = df[(df['Size']>=50) & (df['Rating']>4.5)]['Category'].value_counts().sort_values(ascending=False).reset_index()
x1=len(df[(df['Size']>50) & (df['Rating']>4.5)])

x2=len(df[(df['Size']<30) & (df['Size']<=50) & (df['Rating']>4.5)])

x3=len(df[(df['Size']<10) & (df['Size']<=30) & (df['Rating']>4.5)])

x4=len(df[(df['Size']<=10) & (df['Rating']>4.5)])
print(x1)

In [ ]:

sns.jointplot(data=df,x=df['Size'], y=df['Rating'], color="#1aa3dc",hue="Type", kind="kde")


sns.jointplot(x=df[df['Type']=="Free"]['Size'], y=df[df['Type']=="Free"]['Rating'], kind="hex", color="#6EA3CC")
sns.jointplot(x=df[df['Type']=="Paid"]['Size'], y=df[df['Type']=="Paid"]['Rating'], kind="hex", color="#FC8B29")

In [ ]:
sns.jointplot(x=df[(df['Type']=="Paid") & (df['Price']<50)]['Price'], y=df[(df['Type']=="Paid") & (df['Price']<50)]['Rating'], kind="hex", color="#FC8B29")